.header{
  background-color: red;
  color: white;
  border-bottom: 1px solid #ccc;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}



.header a {
  display: block;
  padding: 10px 20px;
  
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}