/* PHASE 2: Navigation */

.header-logo {
    float: left;
    font-weight: 700px;
    border-right: 1px, #ccc;
}

.header-logo:hover {
    background-color: #eee;
}

.header-list {
    float: right;}

.header-list > li {
    float: left; 
    border-left: 1px solid #ccc;

}

.header-list > li:hover {
    background-color: #eee;

}